<div class="bottom-bar">
	<p>NIP:113-285-11-26</p>
	<div class="bottom-bar__separator u-hidden-sm"></div>
	<p>REGON: 145879741</p>
	<div class="bottom-bar__separator u-hidden-sm"></div>
	<p>Nr konta: 28 2490 0005 0000 4520 2512 2903</p>
</div>