<div class="col-1-2 contact-container">
	<h1 class="contact-container__header u-text-center-sm">Skontaktuj<br>się z nami.</h1>
	<h4 class="contact-container__subheader u-text-center-sm">DCLOG Sp. z.o.o.</h4>
	<div class="contact-container__details">
		<div>
			<p class="location-icon">ul. Wąchocka 1M</p>
		</div>
		<div>
			<p>03-934 Warszawa</p>
		</div>
	</div>
	<div class="contact-container__details">
		<div>
			<a href="tel:+48-664-174-134">
				<p class="phone-icon">+ 48 664 174 134</p>
			</a>
		</div>
		<div>
			<a href="mailto:biuro@dclog.pl">
				<p class="mail-icon">biuro@dclog.pl</p>
			</a>
		</div>
	</div>
</div>
	