<div class="col-1-2">
	<form id="contact-form" class="contact-form" method="post" action="contactForm.php" >
		<i class="icon contact-form__icon fade-in"></i>
		<h3 class="contact-form__header">Napisz do nas</h3>
		<div class="contact-swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<input id="name" name="name" type="text" placeholder="Imię i nazwisko">
					<button id="button-name" type="button" class="button-default button-valid button-disabled" disabled>Dalej</button>
				</div>
				<div class="swiper-slide">
					<input id="email" type="email" name="email" placeholder="E-mail">
					<button id="button-email" type="button" class="button-default button-valid button-disabled" disabled>Dalej</button>
				</div>
				<div class="swiper-slide">
					<input id="phone" type="tel" name="phone" placeholder="Telefon">
					<button type="button" class="button-default button-valid">Dalej</button>
				</div>
				<div class="swiper-slide">
					<textarea id="form-comment" name="form-comment" placeholder="Wiadomość" rows="4"></textarea>
					<button type="button" class="button-default button-valid">Dalej</button>
				</div>
				<div class="swiper-slide">
					<input id="submit" class="submit button-primary fade-in" type="submit" value="Submit">
					<div class="alert alert-success fade-in">
						<h4>Udało się!<br>Skontaktujemy się z Tobą wkrótce.</h4>
					  </div>
				</div>
			</div>
		</div>
	</form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/js/swiper.min.js" 
		integrity="sha256-UBD9tuvkUOifZngtdlRSub3W6GUCqrB3QJACtwv/JUQ=" 
		crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" 
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
		crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" 
		integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A=" 
		crossorigin="anonymous"></script>


<script>
	var swiper = new Swiper('.contact-swiper-container', {
		touchRatio: 0,
		effect: 'fade',
		fadeEffect: {
			crossFade: true
		},
		navigation: {
			nextEl: '.button-valid'
		},
	});

	var $form = $("#contact-form"),
		$successMsg = $(".alert");
		$submit = $("#submit");
		$.validator.addMethod("letters", function(value, element) {
		return this.optional(element) || value == value.match(/^[a-zA-Z\s]*$/);
		});
		$form.validate({
		rules: {
			name: {
			required: true,
			minlength: 3,
			letters: true
			},
			email: {
			required: true,
			email: true
			}
		},
		messages: {
			name: "Wpisz swoje imię i nazwisko.",
			email: "Wpisz poprawny adres e-mail."
		},
		submitHandler: function() {
			$submit.fadeOut();
			setTimeout(function(){
				$successMsg.fadeIn();
			}, 1000);
		}
	});

	var nameBtn = $('#button-name');
	var nameInput = $('#name');
	nameInput.on('keyup', validateName);
	function validateName() {
		if (nameInput.valid()) {
			nameBtn.removeAttr('disabled');
			nameBtn.css('opacity', '1')
		} else {
			nameBtn.prop('disabled', true);
			nameBtn.css('opacity', '0.5')
		}
	};

	var emailBtn = $('#button-email');
	var emailInput = $('#email');
	emailInput.on('keyup', validateEmail);
	function validateEmail() {
		if (emailInput.valid()) {
			emailBtn.removeAttr('disabled');
			emailBtn.css('opacity', '1')
		} else {
			emailBtn.prop('disabled', true);
			emailBtn.css('opacity', '0.5')
		}
	};

	$('#contact-form').submit(function(e) {
		var form = $(this);
		var formData = form.serialize();	
		e.preventDefault();

		$.ajax({
			type: 'POST',
			url: form.attr('action'),
			data: formData
		})
		.done(function(response) {
			console.log(response);

			// Clear the form.
			$('#name').val('');
			$('#email').val('');
			$('#phone').val('');
			$('#form-comment').val('');
		})
		.fail(function(data) {
			console.log('Error ', response);
		});		
	});
</script>