//## Variables

//** Colors
$default: 	    #fff;
$primary: 	    #2a42f0;
$secondary:     #f3317f;
$tertiary:      #00fbff;


$gray-base:	    #000000;
$gray: 	  	    #282828;
$gray-light:    #a2a2a2;
$gray-lighter:  #b7b7b7;
$gray-lightest: #f5f5f5;


//** Layout
$padding: 20px;
$offset: 80px;
$box-shadow-size: 40px;
$button-height: 44px;
$button-border-radius: 22px;

//** Typography
$primary-font:   'aller', Helvetica, sans-serif;
$secondary-font: 'aller', Helvetica, sans-serif;

$font-size-copy: 16px;
$font-size-base: 14px;
$font-size-sm: 13px;
$font-size-xs: 10px;
$h1: 320%;
$h2: 280%;
$h3: 180%;
$h4: 140%;
$h5: 120%;
$h6: 110%;


//** UI
$border-radius-base: 4px;

//-- Button
$btn-border-radius:  $border-radius-base;
