<nav class="nav nav-grid">	
	<a href="howitworks.html" class="nav-item fade-in-up">
		<i class="icon icon--fluid nav-item__icon icon-ai"></i>
		<span class="nav-item__name">Jak działa dcDMS?</span>
		<button type="button" class="button-default nav-item__button">Dowiedz się więcej</button>
	</a>
	<a href="korzysci.html" class="nav-item fade-in-up">
		<i class="icon icon--fluid nav-item__icon icon-competition"></i>
		<span class="nav-item__name">Korzyści z użytkowania<br>systemu dcDMS</span>
		<button type="button" class="button-default nav-item__button">Dowiedz się więcej</button>
	</a>
	<a href="modules.html" class="nav-item fade-in-up">
		<i class="icon icon--fluid nav-item__icon icon-connection"></i>
		<span class="nav-item__name">Moduły dodatkowe</span>
		<button type="button" class="button-default nav-item__button">Dowiedz się więcej</button>
	</a>
	<a href="prices.html" class="nav-item fade-in-up">
		<i class="icon icon--fluid nav-item__icon icon-savings"></i>
		<span class="nav-item__name">Kalkulator ROI</span>
		<button type="button" class="button-default nav-item__button">Dowiedz się więcej</button>
	</a>
	<a href="testimonials.html" class="nav-item fade-in-up">
		<i class="icon icon--fluid nav-item__icon icon-communication"></i>
		<span class="nav-item__name">Referencje klientów</span>
		<button type="button" class="button-default nav-item__button">Dowiedz się więcej</button>
	</a>
	<a href="contact.html" class="nav-item active fade-in-up">
		<i class="icon icon--fluid nav-item__icon icon-phone"></i>
		<span class="nav-item__name">Zadzwoń lub umów się<br>na spotkanie</span>
		<button type="button" class="button-default nav-item__button">Dowiedz się więcej</button>
	</a>	
</nav>
