<div class="col-1-2 modules-container">
	<h1 class="modules-container__header u-text-center-sm">
		dcDMS
	</h1>
	<p class="modules-container__subheader u-text-center-sm u-text-justify">
		dcDMS jest kompleksowym systemem do obsługi procesów logistycznych wokół i na terenie magazynu lub centrum logistycznego. System może być rozbudowany o dodatkowe moduły.
	</p>
</div>
	
