<div class="col-1-2">
	<div class="modules-swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" data-icon="../img/icons/security-camera.svg" title="dcStream">
				<h3 class="swiper-slide__header">dcStream</h3>
				<p  class="swiper-slide__copy u-text-justify">
					Rejestracja wideo w wysokiej rozdzielczości procesu załadunku i rozładunku. W widoku centrum logistycznego można wybrać rampę i przejść do podglądu on-line. Dodatkowo system rejestruje nagrania w celach dokumentacyjnych samego procesu załadunku lub wyładunku. Jest to cenne narzędzie w przypadku reklamacji ilościowych (braki towaru) lub jakościowych (uszkodzenia).
				</p>
			</div>
			<div class="swiper-slide" data-icon="../img/icons/responsive.svg" title="dcView">
				<h3 class="swiper-slide__header">dcView </h3>
				<p  class="swiper-slide__copy u-text-justify">
					Rozbudowany system komunikacji z pracownikami magazynu i kierowcami w oparciu o monitory komunikacyjne. System pozwala na informacje on-line o stopniu realizacji zdań, np. picking-u, preparacji, czy też godzinie podstawienia się pod rampę. Na bieżąco analizuje efektywność pracy magazynu. Kolory na monitorach sygnalizują aktualną liczbę zadań i dostępny czas, dla każdnego zespołu.
				</p>
			</div>
			<div class="swiper-slide" data-icon="../img/icons/smartphone-2.svg" title="dcPickList">
				<h3 class="swiper-slide__header">dcPickList</h3>
				<p  class="swiper-slide__copy u-text-justify">
					System do obsługi kompletacji lub weryfikacji oparty na urządzeniach mobilnych, na które przesyłane są zlecenia z systemu ERP. Dodatkowo podczas skanowania towaru mogą być robione zdjęcia dla celów komunikacyjnych (co jest przydatne podczas reklamacji).
				</p>
			</div>
			<div class="swiper-slide" data-icon="./img/icons/lan.svg" title="dcStreamList">
				<h3 class="swiper-slide__header">dcStreamList</h3>
				<p  class="swiper-slide__copy u-text-justify">
					Rejestracja procesu kontroli towarów na wejściu i wyjściu z magazynu w oparciu o zapis wideo (<b>dcStream</b>) i kontroli list kompletacyjnych (<b>dcPickList</b>). To kontrola czynności wykonywanych przez kontrolera, pomagając mu w pracy. Kontroler nie musi wypełniać druczków ani raportów, po prostu kontroluje. Kierownik działu kontroli też ma spokój - wszystko zarejestrowane, znaczone, zweryfikowane,  w razie problemów lub błędów po prostu daje SMS-a z informacją.
				</p>
			</div>
		</div>
		<div id="modules-pagination"></div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/js/swiper.min.js" 
		integrity="sha256-UBD9tuvkUOifZngtdlRSub3W6GUCqrB3QJACtwv/JUQ=" 
		crossorigin="anonymous">
</script>
<script>
var swiper = new Swiper('.modules-swiper-container', {
	spaceBetween: 10,
	slidesPerView: 1,
	effect: 'fade',
	fadeEffect: {
		crossFade: true
	},
	pagination: {
		el: '#modules-pagination',
		clickable: true,
		bulletClass: 'pagination-item',
		bulletActiveClass: 'active',
		renderBullet (index, className) {
			let slide = this.slides[index];
			let title = slide.getAttribute('title');
			let iconURL = slide.getAttribute('data-icon');
			let markup = 
					`
					<div class="${ className }">
						<i class="icon" style="background-image: url('${ iconURL }')"></i>
						<h2 class="pagination-item__number">${ index+1 }</h2>
						<h3 class="pagination-item__title">${ title }</h3>
					</div>						
					`;
			return markup;
		},					
	},
});
</script>
	