<div class="page-inner-wrapper flexbox">

    <div class="copy-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <h2>Dostawcy koordynują się sami.</h2>
                <div class="copy">
                    <p>Przewoźnik lub dostawca wprowadza dane o kierowcy, środku transportu, ładunku, liczbie i typie nośników logistycznych, szczególnych wymaganiach oraz preferowanym czasie przyjazdu. System kalkuluje czas związany ze wszystkimi operacjami i proponuje najbardziej optymalne okno czasowe: data, godzina, czas operacji, numer doku, dodatkowe wymagania. Zarejestrowana i potwierdzona awizacja umożliwia sprawne dalsze działania:</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="icons-wrapper">
                    <div class="icon-box">
                        <i class="icon icon-control"></i>
                        <span class="icon-box__text">kontroli na portierni</span>
                    </div>
                    <div class="icon-box">
                        <i class="icon icon-inbox"></i>
                        <span class="icon-box__text">weryfikacji ładunku</span>
                    </div>
                    <div class="icon-box">
                        <i class="icon icon-clipboard"></i>
                        <span class="icon-box__text">zgłoszenia do odprawy celnej</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="copy">
                    <p>W procesie logistycznym uczestniczą również pracownicy ochrony wyposażeni w terminale mobilne, magazynierzy oraz inni pracownicy związani z logistyką.</p>
                </div>                
            </div>
            <div class="swiper-slide">
                <div class="copy">
                    <p>dcDMS służy wspieraniu procesów logistycznych w magazynach i centrach przeładunkowych. Pozwala zminimalizować czas oczekiwania na parkingu i efektywnie wykorzystać każde stanowisko załadunkowe.</p>
                </div>
            </div>
        </div>        
    </div>
</div>