<div class="page-inner-wrapper flexbox">
    <div class="tabs-wrapper">
        <div class="tabs-slider" data-nav="true">
            <ul class="swiper-wrapper">
                <li class="swiper-slide tab-content" data-icon='img/icons/computer.svg'>
                    <h2>Poznaj funkcje dotyczące awizacji.</h2>
                    <div class="copy">
                        <p>dcDMS to system awizowania dostaw oraz zarządzania ruchem pojazdów na parkingu i placu lub budowie, który pozwala zaplanować logistykę wokół i na terenie magazynu bądź placu składowego.</p>
                    </div>
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/awizacja/01.svg'>
                    <h4 class="h2">Dostęp do portalu</h4>
                    <div class="copy">
                        <p>Dostęp do portalu dla wszystkich uczestników procesu awizacji poprzez przeglądarkę internetową</p>
                    </div>                    
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/awizacja/02.svg'>
                    <h4 class="h2">Różne typy widoków</h4>
                    <div class="copy">
                        <p>Różne typy widoków i uprawnień dla użytkowników w zależności od typu lub etapu procesu awizacji</p>
                    </div>                    
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/awizacja/03.svg'>
                    <h4 class="h2">Logistyka</h4>
                    <div class="copy">
                        <p>Obsługa różnych klientów (logistyka 3PL) w zależności od specyficznych wymagań</p>
                    </div>                    
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/awizacja/04.svg'>
                    <h4 class="h2">Planowanie</h4>
                    <div class="copy">
                        <p>Planowanie okien czasowych na podstawie danych o ładunkach. System sam wylicza potrzebny czas na wyładunek lub załadunek, czy też odprawę celną na podstawie informacji o typie nośnika logistycznego, typie ładunku lub dodatkowych wymagań</p>                        
                    </div>                    
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/awizacja/05.svg'>
                    <h4 class="h2">Weryfikacja czasów przyjazdu</h4>
                    <div class="copy">
                        <p>Weryfikacja rzeczywistych czasów przyjazdu pojazdów vs zaplanowane terminy; prezentacja w formie raportów, możliwość automatycznego powiadamiania mailem lub SMS-em spedytorów, dostawców, kontrahentów o nieprawidłowościach</p>
                    </div>                    
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/awizacja/06.svg'>
                    <h4 class="h2">Weryfikacja czasów rozładunku</h4>
                    <div class="copy">
                        <p>Weryfikacja rzeczywistych czasów rozładunku lub załadunku pojazdów vs zaplanowane okna czasowe; prezentacja w formie raportów, możliwość automatycznego powiadamiania mailem lub SMS-em spedytorów, dostawców, kontrahentów o nieprawidłowościach</p>
                    </div>                    
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/awizacja/07.svg'>
                    <h4 class="h2">Możliwość definiowania</h4>
                    <div class="copy">
                        <p>Możliwość definiowania stałych awizacji np. kurierskich, wahadeł, etc</p>
                    </div>                    
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/awizacja/08.svg'>
                    <h4 class="h2">Możliwość definiowania</h4>
                    <div class="copy">
                        <p>Możliwość definiowania awizacji serwisowych np. obsługa wózków widłowych, serwis</p>
                    </div>                    
                </li>
            </ul>
        </div>
    </div>
</div>