<div class="page-inner-wrapper flexbox">
    <div class="tabs-wrapper">
        <div class="tabs-slider" data-nav="true">
            <ul class="swiper-wrapper">
                <li class="swiper-slide tab-content" data-icon='img/icons/laptop.svg'>
                    <h2>System dcDMS</h2>
                    <div class="copy">
                        <p>System dcDMS oferuje wiele możliwości zarządzania procesami logistycznymi w drodze do magazynu oraz na jego terenie. Do dyspozycji mamy m.in.:</p>
                    </div>
                    <br>
                    <div class="u-text-sm">
                        <p>Wdrażając system dcDMS przejmujesz pełna kontrolę nad dostawami i awizacjami. Poprzez szereg uprawnień oprogramowanie pozwala na dopasowanie funkcjonalności do poszczególnych użytkowników. Funkcje automatyczne pozwalają na koordynacje dostaw i logistyki w sposób intuicyjny i efektywny czasowo. Słowem - szybciej, sprawniej i wydajniej.</p>
                    </div>
                </li>

                <li class="swiper-slide tab-content" data-icon='img/icons/glowne-funkcje/01.svg'>
                    <p class="h4">Widok całego terenu wraz ze statusami – Pulpit</p>
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/glowne-funkcje/02.svg'>
                    <p class="h4">Generator awizacji w wersji dla zaawansowanych użytkowników i w wersji uproszczonej (Wizard)</p>
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/glowne-funkcje/03.svg'>
                    <p class="h4">Kontrola na portierni (aplikacja na Android)</p>
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/glowne-funkcje/04.svg'>
                    <p class="h4">Recepcja - obsługa gości, samochodów osobowych, taksówek</p>
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/glowne-funkcje/05.svg'>
                    <p class="h4">Magazyn - awizacje magazynowe</p>
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/glowne-funkcje/06.svg'>
                    <p class="h4">Odprawa celna - obsługa towarów zgłoszonych do odprawy celnej</p>
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/glowne-funkcje/07.svg'>
                    <p class="h4">Bufor - towar w magazynie ale jeszcze nieprzesunięty do magazynu</p>
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/glowne-funkcje/08.svg'>
                    <p class="h4">Stałe awizacje - obsługa codziennych, stałych awizacji, np. kurierzy</p>
                </li>         
                <li class="swiper-slide tab-content" data-icon='img/icons/glowne-funkcje/09.svg'>
                    <p class="h4">Serwis – stałe przepustki dla firm obsługujących magazyn, np. serwis wózków, catering</p>
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/glowne-funkcje/10.svg'>
                    <p class="h4">Raporty - prezentacja informacji o planowanych obciążeniach zasobów magazynowych</p>
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/glowne-funkcje/11.svg'>
                    <p class="h4">Polityki - planowanie pracy magazynu, np. przerwy techniczne, wolne dni</p>
                </li>
                <li class="swiper-slide tab-content" data-icon='img/icons/glowne-funkcje/12.svg'>
                    <p class="h4">Wyświetlacze - obsługa monitorów informacyjnych do prezentacji danych o awizacjach w magazynie</p>
                </li>
            </ul>
        </div>
    </div>
</div>