//## Defaults
@import "_variables";
@import "_mixins";

html,
body {
    background-color: $default;
    color: $gray;
    font-family: $primary-font;
    font-size: $font-size-base;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.65;
    width: 100%;
    overflow-x: hidden;  
}

.site {
    height: 100vh;
    padding: 0 $offset;
    position: relative;

    @include breakpoint(md) {
        height: auto;
        min-height: 100vh;
        padding: 0;
    }
}

.site-content {
    width: 100%;
    height: calc(100vh - #{$offset * 2});
    background-color: $primary;
    overflow: hidden;
    position: relative;
    z-index: 1;
    color: $default;
    @include flexbox;

    @include breakpoint(md) {   
        height: auto;
        min-height: calc(100vh - #{$offset * 2});
        @include flex-direction(column);
        @include justify-content(space-between);
    }

    @include breakpoint(sm) {
        height: auto;
    }
}

.page-inner-wrapper {
    padding: 0 $padding;
    width: 100%;
    // max-width: 900px;
    max-width: 80%;
    min-height: 100%;
    margin: 0 auto;   

    @include breakpoint(sm) {
        max-width: 100%;
        padding: $padding ($padding / 2);
    }

    &.sub-page {
        padding: 0 $offset 0 0;

        @include breakpoint(sm) {
            padding: 0;
        }
    }
    
    &.flexbox {
        @include flexbox;
        @include align-items(center);

        @include breakpoint(sm) {
            display: block;
        }        
    }    
}

.line {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        top: 100%;
        top: calc(100% + 3px);
        left: 0;        
        background-color: $gray-lightest;
        @include transition(width .3s ease);
    }    

    a:hover &,
    &:hover {

        &::after {
            width: 100%;
        }
    }
}

.list {
    list-style-type: disc;
    padding-left: $padding;
}

.site-content-bg {
    background: url("../../../img/bg.png") no-repeat center;
    background-size: cover;
}

.site-content-bg-lines {
    background: url("../../../img/bg-lines.png") no-repeat center;
    background-size: cover;
}

.site-content-bg-pattern {
    background: url("../../../img/bg-pattern.png") no-repeat center;
    background-size: cover;
}

.site-header,
.site-footer {
    width: 100%;
    height: $offset;
    position: relative;
    z-index: 2;
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);    
}

.row {
    width: 100%;
    @include flexbox;
    @include align-items(center);

    @include breakpoint(md) {
        @include flex-direction(column);
    }
}

[class*="col-"] {
    float: left;
    padding: 0 $padding;

    @include breakpoint(sm) {
        padding: 0;
    }    
}

.col-1-2 {
    width: 50%;

    @include breakpoint(md) {
        width: 100%;
    }
}

.pace {
    pointer-events: none;  
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    transform: translate3d(0, -10px, 0);
    opacity: 0;
    @include transition(transform .5s ease-out, opacity .5s ease-out);

    &.pace-active {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    .pace-progress {
        display: block;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 10px;
        background: $default;
        pointer-events: none;
    }    
}

.fade-in,
.fade-in-up {
    opacity: 0;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

//** SVG loader
#page-loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

#page-loader-rect {
    fill: $primary;
    width: 100%;
    height: 100%;
}

.logo-loader {
    position: absolute;
    width: $offset;
    height: $offset;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;
    opacity: 0;
    animation: fadeIn 1s;
}

.svg-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: 100%;

	svg {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;

        @include breakpoint(sm) {
            height: 100%;
        }

		path {
			fill: darken($primary, 10%);
			
			&#curve1 {
				opacity: .6;
			}
			
			&#curve2 {
				opacity: .4;
			}
		}
	}    
}


.tabs-wrapper {
    width: 100%;
    @include flexbox;

    @include breakpoint(md) {
        @include flex-direction(column);
    }
}

.tabs-slider,
.tabs-nav {
    width: 50%;

    @include breakpoint(md) {
        width: 100%;            
    }
}

.tabs-nav {
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: center;
    
    @include breakpoint(md) {
        display: none;
    }            
}

.tab-content {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
}

[id*="menu-"] > svg { 
    width: 100%;
    height: 100%;
    overflow: visible !important;
}

[class|=wheelnav-menu] { 
    fill: transparent; 
    stroke: darken($primary, 8%); 
    stroke-width: 1.5;

    &[class*="title"] {
        // opacity: .25;

        &[class*="selected"] {
            opacity: 1;
        }
    }
    
    &[class*="selected"] {
        fill: transparent; 
        stroke: $tertiary;
        stroke-width: 1.5;
    }    

    &[class*="hover"] {
        fill: transparent;  
        stroke: $tertiary;
        stroke-width: 1.5;
        cursor: pointer;
    } 
    
    &[class*="marker"] {
        stroke: $tertiary; 
        stroke-width: 1.5; 
    }     
}

[data-rtab-id] {
    display: none;
}