//## Header
@import "_variables";
@import "_mixins";

.site-footer {
}

.footer-cta-wrapper {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-100%);

    @include breakpoint(sm) {
        position: relative;
        transform: translateY(0);
    }
}

.page-id-wrapper {
    margin-left: auto;
    padding: 0 ($padding / 2);

    .number {
        font-weight: 700;
    }
}

#contact-us {
    box-shadow: 0 0 25px rgba($gray-base, .25);
    
    &:hover {
        transform: scale(1.2);
    }
}

