//## Header
@import "_variables";
@import "_mixins";

.site-header {}

.brand-wrapper {
    @include flex(1);
}

#page-title {

    @include breakpoint(sm) {
        width: 100%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $font-size-base;
    }
}

.logo-wrapper {
    width: $offset;
    height: $offset;    
    display: block;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);    

    .logo {
        width: auto;
        height: 40px;
        display: block;
    }    
}

.page-meta-wrapper {
    overflow: hidden;
    padding: ($padding * 2) $padding;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include flex(2);
}

.nav-wrapper {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-end);
    @include flex(1);
}

.back-home {    
    font-size: $font-size-sm;
    color: $secondary;    
    height: $offset;
    line-height: $offset;

    @include breakpoint(sm) {
        display: none;
    }
}

.burger {
    width: $offset;
    height: $offset;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    display: block;

    span {
        display: block;
        width: 24px;
        height: 2px;
        margin: 6px auto;
        background-color: $gray-base;
    }
}

.nav {

}

.nav-item {
    $root: &;
    font-size: $h5;
    font-weight: 700;
    line-height: 1.4;
    user-select: none;
    position: relative;
    padding: ($padding / 2) 0;
    display: block;
    
    &__icon {
        margin-bottom: $padding / 2;

        @include breakpoint(sm) {
            margin: 0;
        }        
    }

    &__icon,
    &__name,
    &__title {
        font-size: 1vw;
        text-align: center;
        transform: translateY(42px - 20px);
        @include transition(transform .5s ease, opacity .5s ease);

        #{$root}:hover & {
            transform: translateY(0);
        }

        @include breakpoint(md) {
            font-size: $h6;
        }

        @include breakpoint(sm) {            
            transform: translateY(0);            
        }
    }

    &__name,
    &__title {

        @include breakpoint(md) {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__button {
        opacity: 0;
        transform: translateY($padding);
        margin-top: $padding;
        transition-delay: 0;

        @include breakpoint(sm) {
            opacity: 1;
            transform: translateY(0);
        }

        #{$root}:hover & {
            opacity: 1;
            transform: translateY(0);            
            transition-delay: .3s;
        }
    }

    .number {
        user-select: none;
        position: absolute;        
        font-size: 10vw;
        font-weight: bold;
        line-height: 0;
        color: $primary;
        z-index: -1;        
        text-shadow: 0 0 $box-shadow-size rgba($gray-base, .1);
        @include transition(transform .5s ease);

        @include breakpoint(sm) {
            font-size: 16vw;
        }
    }

    $step: 1;
    @while $step <=6 {
        &:nth-child(#{$step}) .number {
          color: darken($primary, ($step * 2%));
        }      
        $step: $step + 1;
    }
}

.nav-grid {
    width: 100%;
    height: 100%;
    height: calc(100vh - #{$offset * 2});
    @include flexbox;
    @include flex-wrap(wrap);

    @include breakpoint(md) {
        height: 100%;
    }

    .nav-item {
        $root: &;
        width: 33.333%;
        height: 50%;
        color: $default;
        background-color: $primary;
        z-index: 0;
        cursor: pointer;
        padding: $padding * 2;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);

        @include breakpoint(md) {
            width: 50%;
            height: auto;
        }

        @include breakpoint(sm) {
            width: 100%;
            height: auto;
        }        

        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
        }

        &::after {
            z-index: -1;
            opacity: 0;
            box-shadow: 0 0 ($box-shadow-size * 2) rgba($gray-base, .25);
            @include transition(opacity 0s ease);

            @include breakpoint(sm) {
                box-shadow: 0 0 ($box-shadow-size * 2) rgba($gray-base, .5);
            }
        }

        &:not(.active):hover {
            z-index: 1;

            &::after {
                transition-delay: .5s;
                opacity: 1;
                @include transition(opacity 1s ease);
            }            
        }
    }

    $step: 1;
    @while $step <=6 {

        .nav-item:nth-child(#{$step}) {
          background-color: darken($primary, ($step * 2%));
        }
      
        $step: $step + 1;
    }    
}

