//## Slider
@import "_variables";
@import "_mixins";

// Globals
#page-slider {
	width: 100%;
	min-height: 100%;
	position: relative;
	overflow: hidden;
}
#page-slider[data-nav="true"] {
	width: 80%;
	max-width: calc(100% - 280px);

	@include breakpoint(md) {
		width: 100%;
		max-width: 100%;
		margin-bottom: auto;
	}
}
#page-nav {
	width: 20%;
	min-width: 280px;
	height: 100%;
	position: relative;
	z-index: 2;
	@include flexbox;
	@include flex-direction(column);	

	@include breakpoint(md) {
		width: 100%;
		max-width: 100%;
		@include flex-direction(row);
	}

	.nav-item {	
		width: 100%;
		padding: $padding;
		text-align: center;
		@include flex-direction(column);
		@include flex(1);

		@include breakpoint(sm) {
			height: $offset;
			padding: ($padding / 2);
		}	

		&__title {
			font-size: 1vw;			
			max-width: 80%;	
			
			@include breakpoint(md) {
				font-size: $h6;
			}

			@include breakpoint(sm) {				
				display: none;
			}
		}

		&__button {
			margin-top: ($padding / 2);

			@include breakpoint(sm) {
				display: none;
			}
		}

		.number {

			@include breakpoint(sm) {
				display: none;
			}			
		}

        &.active {
            z-index: 2;

            &::after {
                transition-delay: .5s;
                opacity: 1;
                @include transition(opacity 1s ease);
            }            
		}
	
		&:first-child {
			display: none;
		}
	}	
}

#back-bar {
	$root: &;
	position: absolute;
	width: $offset;
	height: 100%;
	top: 0;
	right: 0;
	padding: 0 $padding;
	z-index: 10;
	background-color: $default;
	color: $gray;
	overflow: hidden;
	cursor: pointer;	

	@include breakpoint(sm) {
		z-index: 2;
		right: 0;
		width: 100%;
		height: $offset;
		box-shadow: 0 0 50px rgba($gray-base, 0.25);		
		@include flexbox;
		@include align-items(center);		
	}

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		transform: translateX(-100%);
		background-color: $gray-lightest;
		@include transition(transform .3s ease);

		@include breakpoint(md) {
			display: none;
		}
	}

	&:hover {

		&::before {
			transform: translateX(0);
		}	
	}

	button {
		outline: none !important;
		position: absolute;
		top: 0;
		left: 0;
		width: $offset;
		height: $offset;
		z-index: 1;
		outline:0;

		@include breakpoint(sm) {
			top: auto;
			left: auto;
			right: 0;			
		}
	}

	span {
		font-weight: 700;
		color: $secondary;		
		transform: rotate(90deg);
		display: block;
		white-space: nowrap;
		text-align: center;
		transform-origin: left top 0;
		width: calc(100vh - 160px);
		margin: 0 30px;
		height: 20px;
		line-height: 20px;
		user-select: none;	
		
		@include breakpoint(sm) {
			transform: rotate(0);
			margin: 0;
			width: auto;			
		}		
	}
}

//** Copy slider
.copy-slider {	

	@include breakpoint(md) {

		.swiper-wrapper {
			display: block;
		}
	}

	.arrow {
		position: absolute;
		z-index: 11;
		bottom: $padding;
		left: $padding;
	}

	&::before,
	&::after {
		content: '';
		width: 100%;
		height: $offset;
		left: 0;
		z-index: 2;
		position: absolute;	
		
		@include breakpoint(md) {
			display: none;
		}
	}

	&::before {
		top: 0;
		background: -moz-linear-gradient(top, rgba(42,66,240,1) 0%, rgba(42,66,240,0) 100%);
		background: -webkit-linear-gradient(top, rgba(42,66,240,1) 0%,rgba(42,66,240,0) 100%);
		background: linear-gradient(to bottom, rgba(42,66,240,1) 0%,rgba(42,66,240,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a42f0', endColorstr='#002a42f0',GradientType=0 );		
	}
}

.progress-y {		
	width: $offset;
    height: 100%;
    top: 0;
	left: 0;
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);

	span {
		margin: $padding / 2 0;
		width: $padding / 2;
		height: $padding / 2;
	}
}

[class*="progress-"] {
	z-index: 9999;

	@include breakpoint(md) {
		display: none;
	}

	.active {
		background-color: $secondary;
		opacity: 1;
		box-shadow: 0 0 0 rgba($gray, .1);
		animation: pulse 2s infinite;		
	}

	&.swiper-pagination-lock {
		display: none;
		visibility: hidden;
	}
}

@keyframes pulse {
	0% {
	  box-shadow: 0 0 0 0 rgba($gray, .1);
	}
	70% {		
		box-shadow: 0 0 0 12px rgba($gray, .0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba($gray, .0);
	}
  }


// Testimonials swiper

.site-content-testimonials {
	@include flexbox;
    @include align-items(center);
    @include justify-content(center);

	.testimonials-swiper-container {
		width: 100%;
		height: calc(100vh - 35vh);
		position: relative;
		overflow: hidden;
		
		@include breakpoint(sm) {
			height: 100%;
		}

		.swiper-wrapper {

			.swiper-slide {
				width: 80%;

				.col {
					height: 100%;
					float: left;
					@include flexbox;

					&__person-img {

						@include breakpoint(lg) {
							max-width: 55%;
						}

						@include breakpoint(sm) {
							max-width: 45%;
						}
					}

					&__name, {
						margin: 10px 0 5px;
						font-weight: 600;
						color: #00fbff;

						@include breakpoint(sm) {
							text-align: center;
							width: 100%;
							font-size: 20px;
						}
					}

					&__position {
						margin-bottom: 20px;
						color: #00fbff;
						font-weight: 500;
						font-size: 18px;

						@include breakpoint(sm) {
							text-align: center;
							width: 100%;
							font-size: 14px;
						}
					}

					&__copy {
						font-size: 18px;

						@include breakpoint(md) {
							font-size: 14px;
							text-align: center;
						}
					}
				}

				.col-1-2 {
					width: 50%;
					@include justify-content(center);
					@include align-items(center);

					@include breakpoint(sm) {
						height: 25vh;
						width: 100%;
					}
				}

				.col-2-2 {
					width: 50%;
					margin-left: -20px;
					padding-right: 150px;
					color: #fff;
					@include align-items(flex-start);
					@include flex-direction(column);
					@include justify-content(center);

					@include breakpoint(lg) {
						margin-left: 0;
						padding-right: 50px;
					}

					@include breakpoint(sm) {
						height: 100%;
						width: 100%;
						padding: 0 40px;
					}
				}
			}
		}
	
		.swiper-button-prev,
		.swiper-button-next {
			position: absolute;
			top: 50%;
		}
	
		.swiper-button-prev {
			left: 2%;

			@include breakpoint(lg) {
				left: 1%;
			}
		}
	
		.swiper-button-next {
			right: 2%;

			@include breakpoint(lg) {
				right: 1%;
			}
		}

		.swiper-pagination-bullet,
		.swiper-pagination-bullet-active {
			margin: 0 15px;
			width: 14px;
			height: 14px;
			background: none;
			border: 1px solid #00fbff;
			opacity: 1;
			position: relative;

			@include breakpoint(sm) {
				display: none;
			}
		}

		.swiper-pagination-bullet-active:before {
			position: absolute;
			content: '';
			width: 6px;
			height: 6px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			background: #00fbff;
			border-radius: 100%;
		}
	}
}

// Korzysci swiper

.korzysci-swiper-container {
	width: 100%;
	height: calc(100vh - 45vh);
	position: relative;
	overflow: hidden;
	position: relative;

	&::before {
		display: block;
		content: '';
		position: absolute;
		width: 25%;
		top: 0;
		left: 0;
		height: 70%;
		z-index: 10;
		background: -moz-linear-gradient(left, rgba(40,64,242,1) 0%, rgba(42,66,242,1) 1%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(left, rgba(40,64,242,1) 0%,rgba(42,66,242,1) 1%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to right, rgba(40,64,242,1) 0%,rgba(42,66,242,1) 1%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2840f2', endColorstr='#00ffffff',GradientType=1 );

		@include breakpoint(lg) {
			background: none;
			filter: none;
		}
	}

	&::after{
		display: block;
		content: '';
		position: absolute;
		width: 25%;
		top: 0;
		right: 0;
		height: 70%;
		z-index: 10;
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(42,66,242,1) 99%, rgba(40,64,242,1) 100%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(42,66,242,1) 99%,rgba(40,64,242,1) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(42,66,242,1) 99%,rgba(40,64,242,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#2840f2',GradientType=1 );

		@include breakpoint(lg) {
			background: none;
			filter: none;
		}
	}

	&::before,
	&::after {
		display: none;
	}
	
	@include breakpoint(xl) {
		height: 60vh;
	}

	@include breakpoint(lg) {
		height: 55vh;
	}

	.swiper-wrapper {

		.swiper-slide {
			width: 100%;
			padding-left: 55px;

			.copy {
				padding-left: 25%;
				font-size: 15px;

				@include breakpoint(xl) {
					padding-left: 0;
				}

				@include breakpoint(lg) {
					padding-right: 10%;
				}

				@include breakpoint(md) {
					padding: 0 20px;
					text-align: center;
				}
			}

			@include breakpoint(lg) {
				width: 80%;
    			padding-left: 125px;
			}

			@include breakpoint(md) {
				width: 100%;
				padding: 0 20px;
				margin: 0 auto
			}

			.circles {
				width: 153px;
				margin-top: 20px;
				@include flexbox;
				@include align-items(center);
				@include flex-direction(column);
				@include justify-content(center);

				&__small-circle {
					width: 20px;
					height: 20px;
					border-radius: 100%;
					border: 1px solid #1d30ea;
					-webkit-box-shadow: 0px 0px 43px 4px #1D30EA; 
					box-shadow: 0px 0px 43px 4px #1D30EA;
					background-color: #2941f6;
					z-index: 1;

					@include breakpoint(sm) {
						width: 25px;
						height: 25px;
						margin-top: 5px;
					}
				}

				&__line {
					width: 1px;
					height: 6vh;
					z-index: 0;
					background-color:#00feff;
				}

				&__big-circle {
					width: 15vh;
					height: 15vh;
					z-index: 1;
					background-color: #2941f6;
					border-radius: 100%;
					-webkit-box-shadow: 0px 0px 43px 4px #1D30EA; 
					box-shadow: 0px 0px 43px 4px #1D30EA;
					background-size: 40%;

					@include breakpoint(sm) {
						width: 18vh;
						height: 18vh;
					}
				}

				&__big-circle.watch {
					background: url('../img/icons/alarm-clock.svg') no-repeat center;
					background-size: 40%;
				}

				&__big-circle.bulb {
					background: url('../img/icons/bulb.svg') no-repeat center;
					background-size: 40%;
				}

				&__big-circle.car {
					background: url('../img/icons/forklift.svg') no-repeat center;
					background-size: 40%;
				}

				&__big-circle.storehouse {
					background: url('../img/icons/storehouse.svg') no-repeat center;
					background-size: 40%;
				}

				&__big-circle.smartphone {
					background: url('../img/icons/smartphone-3.svg') no-repeat center;
					background-size: 40%;
				}

				&__big-circle.cooperation {
					background: url('../img/icons/cooperation.svg') no-repeat center;
					background-size: 40%;
				}

				&__big-circle.forklift-2 {
					background: url('../img/icons/forklift-2.svg') no-repeat center;
					background-size: 40%;
				}

				&__big-circle.parking {
					background: url('../img/icons/parking.svg') no-repeat center;
					background-size: 40%;
				}
				

				@include breakpoint(lg) {
					margin-top: 0;
				}

				@include breakpoint(md) {
					width: 100%;
				}
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: none;

		@include breakpoint(sm) {
			display: block;
			z-index: 20;
		}
	}

	.swiper-pagination-bullet,
	.swiper-pagination-bullet-active {
		margin: 0 15px;
		width: 14px;
		height: 14px;
		background: none;
		border: 1px solid #00fbff;
		opacity: 1;
		position: relative;
	}

	.swiper-pagination-bullet-active:before {
		position: absolute;
		content: '';
		width: 6px;
		height: 6px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		background: #00fbff;
		border-radius: 100%;
	}
}

// Modules swiper

.modules-swiper-container {

	width: 68%;
	margin: 0 auto;
	overflow: hidden;

	@include breakpoint(xl) {
		width: 80%;
	}

	@include breakpoint(md) {
		width: 100%;
	}

	.swiper-wrapper {

		.swiper-slide {
			margin-bottom: 5%;
			padding: 0 10px;
	
			&__header {
				color: #00feff;
				margin-bottom: 10px;
			}

			&__copy {
				width: 80%;
				line-height: 2;
				font-size: 15px;

				@include breakpoint(xl) {
					width: 100%;
					font-size: 14px;
				}
			}
		}

		@include breakpoint(xl) {
			margin-bottom: 0
		}

		@include breakpoint(md) {
			padding: 0 10px;
		}
	}

	#modules-pagination {
		border-bottom: 3px solid #00feff;
		@include flexbox;
		@include align-items(flex-end);
		@include justify-content(space-between);

		.pagination-item {
			@include flexbox;
			@include align-items(center);
			@include flex-direction(column);
			@include justify-content(space-around);
			border: 3px solid #192ace;
			width: 128px;
			height: 135px;

			&__number {
				display: none;
			}

			&__title {
				font-size: 14px;
				font-weight: 600;
				color: #00feff;
				text-align: center;
				opacity: 0.3;

				@include breakpoint(lg) {
					font-size: 13px;
				}

				@include breakpoint(sm) {
					font-size: 10px;
				}
			}
		}

		.pagination-item.active {
			height: 240px;
			padding: 10px 0;

			.icon {
				filter: brightness(20);
				background-size: 35px;
			}

			.pagination-item__number {
				display: block;
				text-shadow: 0px 0px 20px #00feff;
				font-size: 100px;
				color: #00feff;
				opacity: 0.7;
				margin-bottom: 10px;

				@include breakpoint(lg) {
					font-size: 80px;
				}
			}

			.pagination-item__title {
				color: #00feff;
				opacity: 1;
			}
		}
	}
}

