//## Typography
@import "_variables";
@import "_mixins";

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 700;  
}

h1, .h1 { font-size: $h1; line-height: 1.2; }
h2, .h2 { font-size: $h2; line-height: 1.2; margin-bottom: $padding; }
h3, .h3 { font-size: $h3; line-height: 1.2; }
h4, .h4 { font-size: $h4; }
h5, .h5 { font-size: $h5; }
h6, .h6 { font-size: $h6; }


@include breakpoint(sm) {
	h1 { font-size: ($h1 / 1.4); }
	h2 { font-size: ($h2 / 1.2); }
  h3 { font-size: ($h3 / 1.2); }
}

.copy {

	p {
    font-size: $font-size-copy;

    @include breakpoint(sm) {
      font-size: $font-size-base;
    }    

    &:not(:last-child) {
      margin-bottom: $padding;
    }
  }
}