//## Utilities
@import "../_variables";
@import "../_mixins";

//** Text
.u-text-sm { font-size: $font-size-sm; }
.u-text-xs { font-size: $font-size-xs; }
.u-text-justify { text-align: justify; }
.u-text-center { text-align: center; }

//** Colors
.u-text-light-gray {
	color: $gray-light;
}
.u-color-secondary {
	color: $secondary;
}

//** Layout
.u-no-p-left { padding-left: 0 }
.u-no-p-right { padding-right: 0 }
.u-no-p-top { padding-top: 0; }
.u-no-p-bottom { padding-bottom: 0; }
.u-no-m-top { margin-top: 0; }
.u-no-m-bottom { margin-bottom: 0; }
.u-full-width { width: 100%; max-width: 100%; }

//** Layout responsive styles
@include breakpoint(md) {
	
	.u-reverse-md {
		@include flex-direction(column-reverse);
	}
}

//** Responsive classes
@include breakpoint(sm) {
	.u-hidden-sm { display: none; }
	.u-text-center-sm { text-align: center; }
}

//** Width, height
.u-full-width { width: 100%; }