//## Component
@import "../_variables";
@import "../_mixins";

.contact-row {
    position: relative;

    .col-1-2 {
        color: #fff;
        height: 50vh;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);

        @include breakpoint(sm) {
            height: 70vh;
            @include justify-content(flex-start);
        }

        &:first-of-type {
            padding-left: 20%;

            @include breakpoint(xl) {
				padding-left: 15%;
            }
            
            @include breakpoint(sm) {
                padding-top: ($padding * 4);
                padding-left: 10px;
			}
        }
    }

    .contact-container {

        &__header {
            color: #00fbff;
            font-weight: 600;
            margin-bottom: 50px;
            line-height: 1;

            @include breakpoint(lg) {
				margin-bottom: 30px;
			}
        }

        &__subheader {
            margin-left: 40px;
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 150%;

            @include breakpoint(lg) {
				font-size: 120%;
			}

            @include breakpoint(md) {
				margin-left: 0;
			}
        }

        &__details {
            margin-left: 40px;
            margin-bottom: 20px;
            @include flexbox;
            @include flex-direction(column);

            @include breakpoint(lg) {
				font-size: 16px;
            }

            @include breakpoint(sm) {
                 margin-left: 0;
                 width: 60vw;
                 text-align: center;
                 margin: 0 auto;
			}

            a {
                text-decoration: none;
                color: #fff;
                
                &:hover {
                    text-decoration: none;
                    color: #fff;
                }
            }

            p {
                margin-bottom: 4px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 4px;
                    left: -35px;

                    @include breakpoint(sm) {
                        top: 4px;
                        left: 0;
                   }
                }
            }

            p.location-icon {
                &::before {
                    background: url('../img/icons/location.svg') center no-repeat;
                    width: 20px;
                    height: 20px;
                }
            }

            p.phone-icon {
                &::before {
                    background: url('../img/icons/phone.svg') center no-repeat;
                    width: 18px;
                    height: 18px;
                }
            }

            p.mail-icon {
                &::before {
                    background: url('../img/icons/mail.svg') center no-repeat;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .bottom-bar {
        position: absolute;
        width: 45vw;
        bottom: 10%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        @include flexbox;
        @include justify-content(space-around);
        @include align-items(center);

        p {
            font-size: 14px;

            @include breakpoint(lg) {
                font-size: 12px;
            }

            @include breakpoint(sm) {
                font-size: 10px;
                margin: 2px 0;
            }
        }

        &__separator {
            width: 1px;
            height: 12px;
            background-color: #00fbff;
        }

        @include breakpoint(xl) {
            width: 50vw;
        }

        @include breakpoint(lg) {
            bottom: 7%;
        }

        @include breakpoint(sm) {
            width: 100vw;
            bottom: 5%;
            @include flex-direction(column);
        }
    }
}

// Contact form swiper

.contact-form {

	&__header {
        text-align: center;
        margin-top: 10px;

        @include breakpoint(md) {
            margin-top: 0;
        }
	}

	&__icon {
		background: url('../img/icons/mail.svg') no-repeat center;
		margin: 0 auto;
		display: block !important;
		 
	}

	.contact-swiper-container {

		width: 100;
		margin: 0 auto;
		overflow: hidden;
	
		.swiper-wrapper {
			@include flexbox;
			@include align-items(center);
	
			.swiper-slide {

				@include flexbox;
				@include align-items(center);
				@include flex-direction(column);
                @include justify-content(center);

                input[type=text],
                input[type=email],
                input[type=tel],
                #form-comment {
                    width: 42%;
                    background: transparent;
                    border: 1px solid #00fbff;
                    box-shadow: none;
                    border-radius: 22px;
                    padding: 15px 30px;     
                    outline: none;   
                    color: #00fbff;   
                    margin: 20px 0 10px;

                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #00fbff;;
                    opacity: 1; /* Firefox */
                    }
                    
                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #00fbff;;
                    }
                    
                    &::-ms-input-placeholder { /* Microsoft Edge */
                        color: #00fbff;;
                    }

                    @include breakpoint(xl) {
                        width: 55%;
                    }

                    @include breakpoint(lg) {
                        width: 80%;
                    }
                }

                #form-comment {
                    resize: none;
                }

                .button-valid {
                    background: #00fbff;
                    border: none;
                    color: #2941f5;
                    width: 42%;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin: 12px 0;

                    &:hover {
                        background-color: #fff;
                    }

                    @include breakpoint(xl) {
                        width: 55%;
                    }

                    @include breakpoint(lg) {
                        width: 80%;
                    }
                }

                input[type=submit] {
                    width: 42%;
                    margin: 0;

                    @include breakpoint(lg) {
                        width: 70%;
                    }

                    @include breakpoint(sm) {
                        width: 80%;
                    }
                }

                .error {
                    font-weight: 600;
                }

                .alert {
                    display: none;
                    text-align: center;
                    
                    h4 {
                        font-weight: 500;
                    }
                }
			}
		}
	}
}
