//## Component
@import "../_variables";
@import "../_mixins";

.korzysci-row {
    position: relative;

    .col-1-2 {
        color: #fff;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);

        &:first-of-type {
            width: 40%;
            padding-left: 10%;
            height: 40vh;

            @include breakpoint(xl) {
				padding-left: 5%;
            }

            @include breakpoint(lg) {
				width: 50%;
            }

            @include breakpoint(sm) {
                padding-left: ($padding / 2);
                width: 100%;
                height: 70vh;
			}
        }

        &:last-of-type {
            width: 65%;

            @include breakpoint(xl) {
				padding-left: 0;
            }

            @include breakpoint(lg) {
				width: 50%;
            }
            
            @include breakpoint(sm) {
                width: 100%;
                padding: 0;
			}
        }
    }

    .korzysci-container {

        &__header {
            color: #00fbff;
            font-weight: 600;
            margin-bottom: 50px;
            line-height: 1;
        }

        &__subheader {
            font-size: 16px;

            @include breakpoint(xl) {
				padding-right: 10%;
            }
            
            @include breakpoint(md) {
				padding-right: 0;
			}
        }
    }
}