//## Component
@import "../_variables";
@import "../_mixins";

.modules-row {
    position: relative;

    .col-1-2 {
        color: #fff;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);

        &:first-of-type {
            width: 40%;
            padding-left: 10%;
            height: 40vh;

            @include breakpoint(xl) {
				padding-left: 5%;
            }

            @include breakpoint(sm) {
                padding: 0 $padding;
                width: 100%;
                height: 70vh;
			}
        }

        &:last-of-type {
            width: 60%;

            @include breakpoint(xl) {
				padding-left: 0;
            }
            
            @include breakpoint(sm) {
                width: 100%;
                padding-left: 10px;
			}
        }
    }

    .modules-container {

        &__header {
            color: #00fbff;
            font-weight: 600;
            margin-bottom: 50px;
            line-height: 1;
        }

        &__subheader {
            font-size: 16px;
        }
    }
}