//## Pricing card
@import "../_variables";
@import "../_mixins";

.description {
    width: 30%;
    padding: $padding;
    position: relative;
    z-index: 2;
    height: calc(100vh - #{$offset * 2});
    background-color: darken($primary, 6%);
    @include flexbox;
    @include flex-shrink(0);
    @include flex-direction(column);   
    @include justify-content(center);

    @include breakpoint(md) {
        width: 100%;
    }

    @include breakpoint(sm) {
        height: auto;
    }
}

.pricing-cards-wrapper {
    height: calc(100vh - #{$offset * 2});

    @include breakpoint(sm) {
        height: 50vh;
    }
}

.pricing-card {
    width: 25%;
    height: auto;
    overflow: hidden;
    line-height: 1.2;
    user-select: none;
    @include flexbox;
    @include flex-direction(column);    
    @include transition(background-color .3s ease);

    @include breakpoint(md) {
        width: 50%;
    }    

    &:nth-child(even) {
        background-color: rgba(darken($primary, 4%), .5);
    }    
}

.pricing-card-row {
    padding: $padding ($padding / 2);
    height: 33.333%;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);

    &:first-child {
        height: 66.666%;
    } 
}
