<div class="row korzysci-row">
	<div class="col-1-2 korzysci-container">
		<h1 class="korzysci-container__header u-text-center-sm">
			Eksploatacja<br>systemu dcDMS
		</h1>
		<p class="korzysci-container__subheader u-text-center-sm u-text-justify">
			Eksploatacja systemu dcDMS przynosi wiele korzyści dla uczestników całego łańcucha logicznego, do głównych należą:
		</p>
	</div>
	<div class="col-1-2">
		<div class="korzysci-swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<p class="copy">
						Skrócenie czasu oczekiwania samochodów, kontroli, odpraw dzięki obsłudze awizacji przez pracowników ochrony z wykorzystaniem terminali mobilnych.
					</p>
					<div class="circles">
						<div class="circles__small-circle"></div>
						<div class="circles__line"></div>
						<div class="circles__big-circle watch"></div>
					</div>
				</div>
				<div class="swiper-slide">
					<p class="copy">
						Przejrzysta i bieżąca informacja o stanie awizacji i operacji na rampach.
					</p>
					<div class="circles">
						<div class="circles__small-circle"></div>
						<div class="circles__line"></div>
						<div class="circles__big-circle bulb"></div>
					</div>
				</div>
				<div class="swiper-slide">
					<p class="copy">
						Uporządkowanie procesu awizacji i zarządzania pojazdami na terenie magazynu i na parkingu.
					</p>
					<div class="circles">
						<div class="circles__small-circle"></div>
						<div class="circles__line"></div>
						<div class="circles__big-circle car"></div>
					</div>
				</div>
				<div class="swiper-slide">
					<p class="copy">
						Eliminacja korków przed magazynami.
					</p>
					<div class="circles">
						<div class="circles__small-circle"></div>
						<div class="circles__line"></div>
						<div class="circles__big-circle storehouse"></div>
					</div>
				</div>
				<div class="swiper-slide">
						<p class="copy">
							Redukcja kontaktów mailowo-telefonicznych z dostawcami, przewoźnikami, spedytorami. 
						</p>
						<div class="circles">
							<div class="circles__small-circle"></div>
							<div class="circles__line"></div>
							<div class="circles__big-circle smartphone"></div>
						</div>
					</div>
				<div class="swiper-slide">
					<p class="copy">
						Eliminacja naliczania postojowego.
					</p>
					<div class="circles">
						<div class="circles__small-circle"></div>
						<div class="circles__line"></div>
						<div class="circles__big-circle parking"></div>
					</div>
				</div>
				<div class="swiper-slide">
					<p class="copy">
						Uelastycznienie pracy magazynu, w tym przeniesienie rozładunków/załadunku na porę nocną (wykorzystanie trzeciej zmiany).
					</p>
					<div class="circles">
						<div class="circles__small-circle"></div>
						<div class="circles__line"></div>
						<div class="circles__big-circle forklift-2"></div>
					</div>
				</div>
				<div class="swiper-slide">
					<p class="copy">
						Podniesienie jakości pracy magazynu oraz współpracy z dostawcami, przewoźnikami i spedytorami.
					</p>
					<div class="circles">
						<div class="circles__small-circle"></div>
						<div class="circles__line"></div>
						<div class="circles__big-circle cooperation"></div>
					</div>
				</div>
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/js/swiper.min.js" 
		integrity="sha256-UBD9tuvkUOifZngtdlRSub3W6GUCqrB3QJACtwv/JUQ=" 
		crossorigin="anonymous">
</script>
<script>
var swiper = new Swiper('.korzysci-swiper-container', {
	slidesPerView: 3,
	loop: true,
	grabCursor: true,
	mousewheel: true,
	pagination: {
		el: '.swiper-pagination',
		clickable: true
	},
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev',
	},
	breakpoints:
		{
		1024: {
			slidesPerView: 1,
		},
		1280: {
			slidesPerView: 2,
		},
	}
});
</script>