<footer class="site-footer">
	<button type="button" id="fsToggle" class="fs-toggle u-hidden-sm fade-in">Toggle fullscreen</button>
	<div class="footer-cta-wrapper fade-in">
		<a href="contact.html" id="contact-us" class="button-primary">Zamów system dcDMS</a>
	</div>
	<div class="page-id-wrapper u-hidden-sm">
		<span id="page-number" class="number h2 fade-in">00</span>
	</div>
</footer><!-- .site-footer -->

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" id="page-loader-wrapper">
	<rect width="100%" height="100%"  id="page-loader-rect" stroke-width="0" stroke="#ffffff"></rect>
</svg>