<header class="site-header">		
	<div class="brand-wrapper">
		<a href="index.html" class="logo-wrapper fade-in">
			<img src="img/logo.png" alt="DC Log" class="logo">
		</a>
	</div>
	<div id="page-meta" class="page-meta-wrapper">
		<i class="icon fade-in" style="display: none"></i>
		<h1 id="page-title" class="h4 fade-in"></h1>
	</div>
	<div id="page-main-nav" class="nav-wrapper">
		<button type="button" id="menu" class="burger fade-in" title="Menu">
			<span></span>
			<span></span>
			<span></span>
		</button>
	</div>
</header><!-- .site-header -->