<aside id="site-navigation" class="menu-wrapper">
    <header class="menu-header">
        <div class="brand-wrapper">
            <a href="index.html" class="logo-wrapper fade-in">
                <img src="img/logo.png" alt="DC Log" class="logo">
            </a>
        </div>
        <button type="button" id="close-menu" class="close">
            <span>Close navigation</span>
        </button>
    </header>
    <nav>
        <nav class="nav">
            <a href="index.html" class="nav-item">
                <span class="nav-item__name">Strona główna</span>
            </a>
            <a href="howitworks.html" class="nav-item">
                <span class="nav-item__name">Jak działa dcDMS?</span>
            </a>
            <a href="korzysci.html" class="nav-item">
                <span class="nav-item__name">Korzyści z użytkowania<br>systemu dcDMS</span>
            </a>
            <a href="modules.html" class="nav-item">
                <span class="nav-item__name">Moduły dodatkowe</span>
            </a>
            <a href="prices.html" class="nav-item">
                <span class="nav-item__name">Ceny i utrzymanie</span>
            </a>
            <a href="testimonials.html" class="nav-item">
                <span class="nav-item__name">Referencje klientów</span>
            </a>
            <a href="contact.html" class="nav-item nav-item--active">
                <span class="nav-item__name">Zadzwoń lub umów się<br>na spotkanie</span>
            </a>	
        </nav>        
    </nav>
</aside>