<div class="testimonials-swiper-container">
		<div class="swiper-wrapper">
		  <div class="swiper-slide">
			  <div class="col col-1-2">
					<img class="col__person-img" src="img/icons/person.svg">
			  </div>
			  <div class="col col-2-2">
					<h3 class="col__name">Damian Krzympiec</h3>
					<h4 class="col__position">Dyrektor ds. logistyki, 3PL</h4>
					<p class="col__copy">Management stwierdził, że ludzie pracują wydajniej.<br>A ludzie mają więcej czasu. Win - win.</p>
			  </div>
		  </div>
		  <div class="swiper-slide">
				<div class="col col-1-2">
					<img class="col__person-img" src="img/icons/person.svg">
				</div>
				<div class="col col-2-2">
					<h3 class="col__name">Piotr Wilczyński</h3>
					<h4 class="col__position">IT Manager, ROHLIG SUUS Logistics</h4>
					<p class="col__copy">
						Kiedy pojawia się problem, możemy wspólnie pracować nad rozwiązaniem.<br>Nikt nie chowa głowy w piasek.<br>
						Największy komfort pracy z DCLOG to jasna komunikacja.<br>Traktujemy się po partnersku.
					</p>
				</div>
		  </div>
		  <div class="swiper-slide">
			<div class="col col-1-2">
				<img class="col__person-img" src="img/icons/person.svg">
			</div>
			<div class="col col-2-2">
				<h3 class="col__name">Sebastian Biskupski</h3>
				<h4 class="col__position">Dyrektor ds. logistyki, Flex Polska</h4>
				<p class="col__copy">Dla wielkich korporacji "szybko" oznacza 6 miesięcy.<br>
				DCLOG po miesiącu przedstawiło propotypowe rozwiązanie.</p>
			</div>
		  </div>
	</div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-pagination"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/js/swiper.min.js" 
		integrity="sha256-UBD9tuvkUOifZngtdlRSub3W6GUCqrB3QJACtwv/JUQ=" 
		crossorigin="anonymous"></script>
<script>
var swiper = new Swiper('.testimonials-swiper-container', {
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev',
	},
	pagination: {
		el: '.swiper-pagination',
	},
});
</script>