<div class="page-inner-wrapper flexbox">

    <div class="copy-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <h2>System i gwarancja.</h2>
                <div class="copy">
                    <p>System dcDMS składa się z oprogramowania serwerowego oraz bazy danych PostgreSQL. Dostęp do systemu odbywa się poprzez przeglądarkę internetową (sugerowana Chrome), wymagana rozdzielczość HD. Pracownicy portierni mogą być wyposażeni w terminale mobilne ze skanerem 2D oraz systemem Android. Wyświetlanie raportów w magazynie odbywa się na komputerach z monitorami wielkoformatowymi HD.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="copy">
                    <p>Na oprogramowanie dcDMS udzielana jest 12 miesięczna gwarancja od daty podpisania protokołu odbioru. DCLOG nie odpowiada za straty związane z wadliwym działaniem systemu dcDMS. Odpowiedzialność z tytułu rękojmi jest wyłączona.</p>
                </div>                
            </div>
        </div>        
    </div>
</div>