<div id="page-slider" data-nav="true" class="page-slider-wrapper">
    <ul class="swiper-wrapper">
        <li class="swiper-slide">@@include('./page-index.html')</li>
        <li class="swiper-slide" data-icon="../img/icons/rich.svg" title="Wariant licencyjny">@@include('./subpage-license.html')</li>
        <li class="swiper-slide" data-icon="../img/icons/piggy-bank.svg" title="Wariant SAAS">@@include('./subpage-saas.html')</li>
        <li class="swiper-slide" data-icon="../img/icons/accounting.svg" title="Wariant SLA">@@include('./subpage-sla.html')</li>
    </ul>
</div>