<div class="page-inner-wrapper flexbox sub-page u-full-width">
    <div class="description">
        <div>
            <p class="u-text-sm">01. Licencja bezterminowa, niewyłączna na własne potrzeby gospodarcze na system dcDMS:</p>
        </div>
        <br>
        <div>
            <p class="u-text-sm">02. Jednorazowy koszt modyfikacji i dostosowania wg przesłanych wymagań – wg indywidualnej wyceny</p>
        </div>
        <br>
        <div>
            <p class="u-text-sm">03. Miesięczny koszt utrzymania (kontrakt serwisowy SLA) –1.500 pln neko / m-c</p>
        </div>
        <br>
        <div>
            <p class="u-text-sm">04. Opcjonalny hosting systemu dcDMS w chmurze DCLOG – 1.000 pln neko / m-c Klient udostępnia serwer do instalacji dcDMS lub wykupuje hosting w chmurze DCLOG.</p>
        </div>        
    </div>
    <div class="carousel">            
        <ul class="swiper-wrapper pricing-cards-wrapper">
            <li class="pricing-card swiper-slide">
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <h4>48,000<br>PLN</h4>
                        <span>netto</span>
                    </div>
                </div>
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <span class="u-text-sm">Koszt licencji</span>
                    </div>
                </div>
            </li>

            <li class="pricing-card swiper-slide">
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <h4>400<br>osób</h4>
                        <span>max</span>
                    </div>
                </div>
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <span class="u-text-sm">Liczba użytkowników</span>
                    </div>
                </div>
            </li>
            
            <li class="pricing-card swiper-slide">
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <h4>200<br>podmiotów</h4>
                        <span>max</span>
                    </div>
                </div>
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <span class="u-text-sm">Liczba dostawców</span>
                    </div>
                </div>
            </li>
            
            <li class="pricing-card swiper-slide">
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <h4>500 osób rocznie</h4>
                        <span>max</span>
                    </div>
                </div>
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <span class="u-text-sm">Liczba gości (recepcja)</span>
                    </div>
                </div>
            </li>

            <li class="pricing-card swiper-slide">
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <h4>10 szt.</h4>
                        <span>max</span>
                    </div>
                </div>
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <span class="u-text-sm">Liczba ekranów informacyjnych (monitorów)</span>
                    </div>
                </div>
            </li>        
            
            <li class="pricing-card swiper-slide">
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <h4>40 szt.</h4>
                        <span>max</span>
                    </div>
                </div>
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <span class="u-text-sm">Liczba ramp</span>
                    </div>
                </div>
            </li> 
            
            <li class="pricing-card swiper-slide">
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <h4>Tak</h4>
                    </div>
                </div>
                <div class="pricing-card-row">
                    <div class="u-text-center">
                        <span class="u-text-sm">Dostęp do aplikacji poprzez przeglądarkę internetową</span>
                    </div>
                </div>
            </li>        
        </ul>
    </div>
</div>