<div class="page-inner-wrapper flexbox">
    <div class="row">
        <div class="col-1-2">        
            <h2>Wariant SLA</h2>
        </div>
        <div class="col-1-2"></div>
    </div>
</div>