//## Buttons
@import "../_variables";
@import "../_mixins";

button,
[class*="button-"] {
    font-family: $primary-font;
    font-weight: 700;
    font-size: calc(#{$font-size-sm} - 1px);
    border: 1px solid $default;  
    outline: none;  
    border-radius: $button-border-radius;
    height: calc(#{$button-height} - 2px);
    line-height: calc(#{$button-height} - 2px);
    color: $gray;
    background-color: $default;
    padding: 0 $padding;
    appearance: none;
    display: inline-block;
    cursor: pointer;
    @include flex-shrink(0);
    @include transition(
        opacity .5s ease,
        transform .5s ease,
        background-color .3s ease,
        border-color .3s ease,
        color .3s ease
    )
}

.button-default {
    color: $default;
    background-color: transparent;
    text-transform: uppercase;

    &:hover {
        color: $gray;
        background-color: $default;
    }
}

.button-primary {
    color: $default;
    border-color: $secondary;
    background-color: $secondary;
}

.button-disabled {
    opacity: 0.5;
}

.swiper-button-prev,
.swiper-button-next {
    background: transparent;
    border: none;
    width: 75px;
    height: 75px;

    @include breakpoint(lg) {
        width: 50px;
        height: 50px;
    }
}

.swiper-button-prev {
    background: url('../img/arrow-left.png') no-repeat center;
}

.swiper-button-next {
    background: url('../img/arrow-right.png') no-repeat center;
}

.close {
    width: 44px;
    height: 44px;
    text-indent: -9999px;
    overflow: hidden;
    // background-color: $default;
    background-color: transparent;    
    border-radius: 0;
    background-image: url('../img/icons/cross.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: 0;
    user-select: none;
    @include transition(transform .3s ease);

    &:hover {
        transform: rotate(90deg);
    }
}

.fs-toggle {
    width: 44px;
    height: 44px;    
    text-indent: -9999px;
    overflow: hidden;    
    background-color: transparent;    
    border-radius: 0;
    background-image: url('../img/icons/switch-to-full-screen-button.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 0;

    &.expanded {
        background-image: url('../img/icons/full-screen-exit.svg');
    }
}

.arrow {
    width: 44px;
    height: 44px;
    text-indent: -9999px;    
    border-radius: 0;
    border: 0;
    background-color: transparent;            
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;    
}

.arrow-next {
    background-image: url('../img/icons/down-button.svg');
}

.arrow-prev {
    background-image: url('../img/icons/up-chevron.svg');
}