//## Checkboxes
@import "_variables";
@import "_mixins";

.checkbox {
	position: relative;
	padding-left: 26px;
	margin-bottom: 10px;

	label {
		user-select: none;
		// cursor: pointer;


		&::before {
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			left: 0;
			top: 0;
			z-index: 1;
			background-color: #f6f7f8;
			border: solid 1px $primary;		
			@include transition(box-shadow .15s ease-in-out);
		}		
	}

	input[type="checkbox"] {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0;
		top: 0;
		opacity: 0;
		appearance: none;
		-webkit-appearance: none;
		cursor: pointer;

		&:checked {

			& ~ label::before {
				background-color: $primary;
				background-image: url('../img/icons/check-symbol.svg');
				background-size: 90%;
				background-repeat: no-repeat;
				background-position: center;
			}

			&:focus {

				& ~ label::before {				
					box-shadow: 0 0 0 0.2rem rgba($primary, .15);
					outline: 0 none;
				}
			}			
		}
	}
}

