//## Icons
@import "../_variables";
@import "../_mixins";

.icons-wrapper {
	@include flexbox;

	@include breakpoint(sm) {
		@include flex-direction(column);
	}
}

.icon-box {
	box-shadow: 0 0 50px rgba($gray-base, .1);
	padding: $padding;
	margin: $padding 5px;
	@include flexbox;
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(center);
	@include flex(1);

	@include breakpoint(sm) {
		margin: ($padding / 2) 0;
	}	

	.icon-box__text {
		font-size: $font-size-xs;
		line-height: 1.2;
		text-align: center;
		margin: $padding 0 0;
	}
}

.icon {
	display: inline-block;
	width: 44px;
	height: 44px;
	background-size: 44px;
	background-position: center;
	background-repeat: no-repeat;
	@include flex-shrink(0);

	@include breakpoint(sm) {
		background-size: 28px;
	}

	&--fluid {
		width: 3vw;
		height: 3vw;
		background-size: 100%;

		@include breakpoint(md) {
			width: 44px;
			height: 44px;
			background-size: 28px;
		}
	}
}

.icon-phone {
	background-image: url('../img/icons/smartphone.svg');
}

.icon-ai {
	background-image: url('../img/icons/artificial-intelligence.svg');
}

.icon-savings {
	background-image: url('../img/icons/piggy-bank.svg');
}

.icon-communication {
	background-image: url('../img/icons/communication.svg');
}

.icon-competition {
	background-image: url('../img/icons/competition.svg');
}

.icon-connection {
	background-image: url('../img/icons/connection.svg');
}

.icon-coding {
	background-image: url('../img/icons/coding.svg');
}

.icon-pc {
	background-image: url('../img/icons/computer.svg');
}

.icon-laptop {
	background-image: url('../img/icons/computer.svg');
}

.icon-rich {
	background-image: url('../img/icons/rich.svg');
}

.icon-accounting {
	background-image: url('../img/icons/accounting.svg');
}

.icon-inbox {
	background-image: url('../img/icons/inbox.svg');
}

.icon-control {
	background-image: url('../img/icons/volume-control.svg');
}

.icon-clipboard {
	background-image: url('../img/icons/clipboards.svg');
}